<div class="bg">
	<input #searchTerm (input)="search(searchTerm.value)" />
	
	<ul>
		<li *ngFor="let term of searchResults$ | async">
			<a routerLink="/terms/{{term.id}}" >
				<span>{{term.english}}</span>
			</a>
		</li>
	</ul>
</div>
<p>it works!</p>